<html>
  <head><title>Comments for <%= videoId %></title></head>
  <body>
    <h1>Comments for the Video <%= videoId %></h1>
    <ol>
      <% comments.forEach(c => { %>
        <li><%= c.parentId %>: 
            <%- c.text %></li>
      <% }) %>
    </ol>
  </body>
</html>